.App {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.control-panel {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.control-panel button {
  margin: 10px;
}
.container {
  display: grid;
  box-sizing: border-box;
  border: 1px solid #000;
}
